.wrapper {
    background-color: #000000;
    overflow: auto;
}

#hero-image {
    background-image: url(../images/coworking.jpg);
    background-size: cover;
    height: 700px;
}

h1 {
    color: yellow;
    font-weight: bold;
    font-size: 36px;
    padding: 20px 0 25px 20px;
}

.subheader {
    background-color: #D3D3D3
}

.subheader_tagline {
    color: black;
    font-size: 32px;
    padding: 25px 15px 25px 15px;
}

.navigation {
    float: right;
}

.navigation ul li {
    display: inline-block;
    padding: 10px 15px 10px 10px;
    color: white;
    text-decoration: none;
}

.main_content {}

.columns {}

.columns_info {
    width: 32%;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0;
}

footer {
    background-color: #000000;
    overflow: auto;
}